/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.DS_Store
*~
*.gem
/dump
/.byebug_history
!/shared/pids
/shared/pids/*
!/shared/log
/shared/log/*
/shared/*
/config/database.yml
/config/puma.rb